html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 2px 2px 2px 2px;
}
.contener{
    display: flex;
    flex-direction: column;
    background-image: url("images/title.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    
}
.contener .main:nth-child(even){
    background-color: rgba(25, 25, 25, 0.75);
    color: white;
}
.contener .main:nth-child(odd){
    background-color: rgba(250, 250, 250, 0.75);
    color:black;
}
li{
    list-style-type: none;
}
.nav{
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 2;
}
    .nav a{
        text-decoration: none;
        color: white;
    }
    .nav ul{
        background-color: rgba(250, 250, 250, 0.75); /* #8b94e7; */
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
        border-radius: 6px;
        padding: 8px;

        border: 1px solid black;
    }
    .nav li{
        margin: 1px 2px 1px 2px;
        background-color: #2a308f;
        width: 80px;
        border: 2px solid gray;
        border-radius: 5px;
        text-align: center;
        opacity: 0.9;
    }
    .nav li:hover{
        opacity: 0.4;
    }

.header{
    position: relative;
    width: 100vw;
    padding-bottom: 30px;
}

    .header h1{
        color: lightseagreen;
        font-family: 'Times New Roman', Times, serif; 
        font-size: 5em;
        font-weight: bold;
        text-align: center;
        margin: 50px 0px 10px 0px;
    }
    .header h2{
        color: lightsteelblue;
        text-align: center;
        font-size: 2.5em;
        margin: 5px;
    }
    .header ul{
        text-align: center;
    }

        .header ul li{
            
            display: inline-block;
            margin: 5px;
        }

            .header ul li a{
                color: black;
                border-radius: 100%;
                box-shadow: inset 0 0 0 1px #ffffff;
                display: inline-block;
                height: 3.25rem;
                line-height: 3.25rem;
                text-align: center;
                width: 3.25rem;
                font-size: 2.25rem;
                background-color: rgba(255, 255, 255, 0.75);
            }
                .header ul li a:hover{
                    background-color: rgba(255, 255, 255, 0.075);

                }


.about{
    width: 100vw;
    height: auto;
}

    .about p{
        width: 600px;
        text-align: justify;
        margin: auto;
        padding: 10px;
        font-size: 1em;
    }

.skills{
    width: 100vw;
    height: auto;
    padding-bottom: 20px;
}

    .skills h1{
        color: #ffffff;
        padding: 10px;
    }

    .skills ul{
        display: flex;
        margin: auto;
        padding: 10px;
        width: 640px;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(250, 250, 250, 0.75);
        /* #2a308f; */
        border-radius: 2px;
    }   
    .skills img{
        border: 5px transparent;
        /* #2a308f; */
        width: 150px;
        height: 150px;
    }
    .skills h4{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        background-color: #8b94e7;
        border-radius: 5px;
    }

.contact{
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
}
    .contact h1 {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .contact .addres{
        margin-top: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        text-align: center;
    }
    .contact .addres h5{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .contact ul li {
        margin-top: 10px;
        display: inline-flex;
    }
        .contact ul li a{
            color: black;
            border-radius: 100%;
            box-shadow: inset 0 0 0 1px #ffffff;
            display: inline-block;
            height: 2.25rem;
            line-height: 2.25rem;
            text-align: center;
            width: 2.25rem;
            background-color: rgba(255, 255, 255, 0.75);
        }
            .contact ul li a:hover{
                background-color: rgba(255, 255, 255, 0.075);

            }
    .contact form{
        margin-top: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: center;
    }
        .contact form input{
            background-color: white;
            border: 1px solid rgb(28, 57, 66);
            border-radius: 8px;
            width: 75%;
            padding: 10px 15px;
            margin: 8px 0;
        }

        .contact form textarea{
            background-color: white;
            border: 1px solid rgb(28, 57, 66);
            border-radius: 8px;
            width: 75%;
            padding: 10px 15px;
            margin: 8px 0;
            resize: none;
        }
        .contact form input[type=submit]{
            border-radius: 8px;
         }
        input:focus {
            background-color: lightblue;
          }

footer{
    /* margin: auto; */
    
    /* position: fixed; */
    /* left: 50%;
    transform: translateX(-50%); 
    bottom: 0%;
    background-color: gainsboro; */
    color:white;
    text-align: center;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .icon > .label {
        display: none;
    }

@media screen and (max-width: 660px) {
    .nav{
        display: none;
    }
    .about p {
        width: 90vw;
    }
    .skills ul{
        width: 320px;
    }
    .contact{
        grid-template-columns: 100%;
    }
    .contact .addres{
        margin-top: 70px;
    }   
}
@media screen and (max-width: 350px) {
    .skills ul{
        width: 160px;
    }
    .header h1{
        font-size: 3em;
    
    }
    .header h2{
        font-size: 1.5em;
    }
    
}